streamlit
speechrecognition
pyaudio
ytmusicapi
vaderSentiment
fuzzywuzzy
python-Levenshtein
scikit-learn
scipy
numpy
matplotlib
pandas
transformers
torch
sentence-transformers
opencv-python
deepface
tensorflow